@font-face {
  font-family: "iconfont"; /* Project id 3522311 */
  src: url('iconfont.woff2?t=1658310531772') format('woff2'),
       url('iconfont.woff?t=1658310531772') format('woff'),
       url('iconfont.ttf?t=1658310531772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test101:before {
  content: "\e661";
}

.icon-icon-test12:before {
  content: "\e664";
}

